.diaital-setting{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  background-color: #f1f0f5;;
  .user-info{
    display: flex;
    padding: 20px;
    background-color: #fff;
    &__avater{
      margin-right: 10px;
      img{
        width: 60px;
        height: 60px;
      }
    }
  }
  .setting-warp{
    flex: 1;
    .setting-tabs{
      height: 100%;
      .el-tabs__header{
        background-color: #fff;
      }
      .el-tabs__content{
        height: 100%;
      }
    }
  }
}