.diaital-apps{
  flex: 1 1 0%;
  .diaital-apps-warp{
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    .app-container{
      display: grid;
      padding-top: 2vh;
      .app-item{
        
      }
    }
  }
}