.app-main{
  height: 100%;
  background-image: url("@/assets/images/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .context-menu-container{
    height: 100%;
    .app-main-container{
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
      .diaital-avater{
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 999;
        cursor: pointer;
        img{
          width: 42px;
          height: 42px;
        }
      }
    }
  }
}

.overlay-warp{
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0)!important;
}