.app-main{
  height: 100%;
  background-image: url("@/assets/images/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .context-menu-container{
    height: 100%;
    .app-main-container{
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}