*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

html{
  height: 100%;
  overflow: hidden;
}

body{
  height: 100%;
}

#app{
  height: 100%;
}

.app-warp{
  height: 100%;
}

@import "./components/index.scss";

@import "./home/index.scss";