$themes: (
  light-theme: 
    (
      //页面底色
      page_background: #f4f4f4,
    ),
  dark-theme: 
    (
      //页面底色
      page_background: #1f1f1f,
    ),
  blue-theme: 
    (
      //页面底色
      page_background: blue,
    ),
  green-theme: 
    (
      //页面底色
      page_background: green,
    ),
  red-theme: 
    (
      //页面底色
      page_background: red,
    ),
  yellow-theme: 
    (
      //页面底色
      page_background: yellow,
    ),
) !default
